<div class="col-sm-6 col-md-6 col-lg-6 margin-bottom-20">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <br />
        <img src="../resources/images/contact/NZwane.jpg" class="img-circle"/>
        <p style="text-align: center"><b>Ntokozo P. Zwane</b></p>
        <p>Ntokozo.Zwane@alumni.cs.uct.ac.za</p>
    <!--</div>-->
<!--</div>-->
<!--<div class="col-sm-6 col-md-6 col-lg-6 margin-bottom-20">-->
    <!--<div class="black-bg col-sm-12 col-md-12 col-lg-12">-->
        <br />
        <img src="" class="img-circle"/>
        <p style="text-align: center"><b>Jae Jang</b></p>
        <p>Jae.Jang@alumni.uct.ac.za</p>
    </div>
</div>
<div class="col-sm-6 col-md-6 col-lg-6 margin-bottom-20">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <br />
        <img src="../resources/images/contact/NGaney.jpg" class="img-circle"/>
        <p style="text-align: center"><b>Naeem Ganey</b></p>
        <p>Naeem.Ganey@alumni.uct.ac.za</p>
    <!--</div>-->
<!--</div>-->
<!--<div class="col-sm-6 col-md-6 col-lg-6 margin-bottom-20">-->
    <!--<div class="black-bg col-sm-12 col-md-12 col-lg-12">-->
        <br />
        <img src="../resources/images/contact/GSNitschke.jpg" class="img-circle"/>
        <p style="text-align: center"><b>Geoff Nitschke</b></p>
        <p>gnitschke@cs.uct.ac.za</p>
    </div>
</div>
