<!-- Bootstrap Core CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="../css/simple-sidebar.css" rel="stylesheet">
<link href="../css/custom.css" rel="stylesheet">
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Start Bootstrap
                </a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="Controller_evolution.html">Controller evolution</a>
            </li>
            <li>
                <a href="Morphology_evolution.html">Morphology evolution</a>
            </li>
            <li>
                <a href="Co-evolution.html">Co-evolution</a>
            </li>
            <li>
                <a href="Downloads.html">Downloads</a>
            </li>
            <li>
                <a href="Contacts.html">Contact</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="col-sm-12 col-md-12 col-lg-12 black-bg">
          <h2 class="text-center">Contact</h2>
          <div class="col-sm-6 col-md-6 col-lg-6 margin-bottom-20">
              <div class="black-bg col-sm-12 col-md-12 col-lg-12">
                  <br />
                  <img src="../resources/images/contact/NZwane.jpg" class="img-circle"/>
                  <p style="text-align: center"><b>Ntokozo P. Zwane</b></p>
                  <p>Ntokozo.Zwane@alumni.cs.uct.ac.za</p>
              <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-6 col-md-6 col-lg-6 margin-bottom-20">-->
              <!--<div class="black-bg col-sm-12 col-md-12 col-lg-12">-->
                  <br />
                  <img src="" class="img-circle"/>
                  <p style="text-align: center"><b>Jae Jang</b></p>
                  <p>Jae.Jang@alumni.uct.ac.za</p>
              </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 margin-bottom-20">
              <div class="black-bg col-sm-12 col-md-12 col-lg-12">
                  <br />
                  <img src="../resources/images/contact/NGaney.jpg" class="img-circle"/>
                  <p style="text-align: center"><b>Naeem Ganey</b></p>
                  <p>Naeem.Ganey@alumni.uct.ac.za</p>
              <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-6 col-md-6 col-lg-6 margin-bottom-20">-->
              <!--<div class="black-bg col-sm-12 col-md-12 col-lg-12">-->
                  <br />
                  <img src="../resources/images/contact/GSNitschke.jpg" class="img-circle"/>
                  <p style="text-align: center"><b>Geoff Nitschke</b></p>
                  <p>gnitschke@cs.uct.ac.za</p>
              </div>
          </div>
      </div>
  </div>
</div>
