<!DOCTYPE html>
<html lang="en">

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/simple-sidebar.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">
<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                    ASCIRT
                </a>
            </li>
            <li>
                <a href="../index.html">Overview</a>
            </li>
                <li>
                    <a href="Controller_evolution.html">Controller Evolution</a>
                </li>
                <li>
                    <a href="Morphology_evolution.html">Morphology Evolution</a>
                </li>
                <li>
                    <a href="Co-evolution.html">Co-Evolution</a>
                </li>
		              <li>
                    <a href="Downloads.html">Downloads</a>
                </li>
		            <li>
                    <a href="contacts.html">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container-fluid">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                <h1>Evolving The Morphology</h1>
                <br>
                  <p>
                    The morpholgy of a robot describes the physical characteristics of
                    the robot's body, such as the size and shape of the body, the number
                    and placing of components that aid in the robot's locomotion. In this
                    apprach, the Evolutionary Robotics principles are used the aid in evolving
                    the robot's morphology, keeping the robot's predefined controller static.
                  </p>
                    <br>
                    <p>
                      There has been an increase in work aimed at using robot
                      teams to complete a range of non-trivial collective behaviour
                      tasks. The task we pay particular attention to is a search and
                      retrieval (foraging) task. The task is constructed such that
                      the team of robots have to make use of work cooperatively
                      to efficiently complete the task. In the real world, such a
                      task would involve a significant amount of noise and incomplete
                      information which would require the team of robots to
                      adapt to the environment through a suitable learning process.
                      We would thus expect our team of robots to exhibit
                      some form of Artificial Intelligence. The concepts
                      of Evolutionary Computation are used to achieve this
                      goal, which builds the foundations of Evolutionary Robotics.
                      We hypothesise that evolving the robot's morphology simultaneous
                      with the evolution of it's controller will result in more robust
                      robot teams.
                    </p>
                    <br>
                    <p>
                      The morhoplogy of our robots that will be evolved is the sensor configuration. This
                      describes where and how many sensors will be placed on he robots. There are five parameters
                      that will be evolved.
                    </p>
                    <dl>
                      <dt>Bearing</dt>
                      <dd>
                        The position of the sensor on the robot's exterior (along the circumference)orientated
                        with the robot's forward directional axis.
                      </dd>
                      <dt>Orientation</dt>
                      <dd>
                        The offset of the sensor's forward direction, relative to the outward normal
                        from the agent surface (at the sensor's position).
                      </dd>
                      <dt>Range</dt>
                      <dd>
                        The maximum distance of the sensor's vision.
                      </dd>
                      <dt>Field of view</dt>
                      <dd>
                        The angle of the sensor's conical arch.
                      </dd>
                      <dt>On/Off Sensor</dt>
                      <dd>
                        Determines whether or not a particular sensor is activated.
                      </dd>
                    </dl>
                    <figure class="center-col">
                      <img src="../resources/images/8_morph.jpg" alt="simulation" width="500px" height"500px">
                      <figcaption style="margin-left: auto; margin-right: auto; width: 500px">
                        <p>
                          The parameters that define the morphology of the agents.
                        </p>
                      </figcaption>
                    </figure>
                  <h2>Methods and Implementation</h2>
                  <p>
                      The morphology of the agents was evolved using a Genetic Algorithm
                      and a heuristc based controller was constructed to aid in maximum
                      exploration of the environment as well as minimal collisions between
                      the agents and objects in the environment (exluding the resource objects).
                  </p>

                  <h2>Experiments</h2>
                  <p>
                    The morphology evolution approach was tested in a the simulation environment.
                    A single simulation consists of placing the agents in the simulation environment
                    and they have a certain amount of time to complete the foraging task. These
                    simulations were run for 250 generations in the evolutionary algorithm -
                    thus completing a single experiment. 20 of these experiments were run for each
                    configuration type. Three experiment configuration types were defined, in order
                    to test for different levels of cooperation between the agents
                  </p>
                  <br>
                  <dl>
                    <dt>Small configuration</dt>
                    <dd>
                      This configuration required very little cooperation between agents in order to
                      efficiently complete the task. There are 10 small, 5 medium, and 0 large boxes.
                    </dd>
                    <dt>Medium Configuration</dt>
                    <dd>
                      This configuration required the some cooperation between agents in order to
                      efficiently complete the task. There are 5 small, 5 medium, and 5 large boxes.
                    </dd>
                    <dt>Large Configuration</dt>
                    <dd>
                      his configuration required the a large amount of cooperation between agents in order to
                      efficiently complete the task. There are 0 small, 5 medium, and 10 large boxes.
                    </dd>
                  </dl>
                  <h2>Results</h2>
                  <p>
                    This approach gave better solutions for experiments that required the least amount of cooperation.
                    As the complexity of the task increases, the team of robot's performance decreased. An interesting
                    result that emerged is that the evolutionary algorithm naturally selected solutions that do not use
                    the maximum number of sensors made available to the robots
                  </p>
                  <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <figure class="center-col">
                        <img src="../resources/images/10_graph_fit_curve.png" alt="simulation" width="100%" height"500px">
                        <figcaption style="margin-left: auto; margin-right: auto; width: 90%">
                          <p>
                            The average of the best team fitness scores for each
                            generation of the evolutionary process for each simulation
                            configuration. The fitness has been normalized such that
                            1.0 is the maximum possible task performance.
                          </p>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <figure class="center-col">
                        <img src="../resources/images/9_graph_box_plot.png" alt="simulation" width="100%" height"500px">
                        <figcaption style="margin-left: auto; margin-right: auto; width: 90%">
                          <p>
                            Box plots for average (red) and best (blue) team
                            fitness for the small, medium and large configuration experiments
                            (from right to left) respectively. The fitness has
                            been normalized such that 1.0 is the maximum possible task
                            performance.
                          </p>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                  <h2>Co-evolution versus Morphology evolution</h2>
                  The two aproaches (co-evolution and morphology evolution) were compared in order to support or reject our
                  experimental hypothesis. We found that the coevolution implementation constantly outperformed the morphological
                  evolution aproach, for all levels of complexity.
                  <figure class="center-col">
                    <img src="../resources/images/14_morph_v_coevo.png" alt="simulation" width="1000px" height"500px">
                    <figcaption style="margin-left: auto; margin-right: auto; width: 1000px">
                      <p>
                        Box plots showing average of the team fitnesses of
                        the best genomes of each experiment run. The averages for
                        the experiments run with the morphology evolution (ME)
                        implementation (red) are compared to those of the experiments
                        run with the coevolution (CE) implementation (blue).
                        The fitness has been normalized such that 1.0 is the maximum
                        possible task performance.
                      </p>
                    </figcaption>
                  </figure>
                  <h2>Conclusion<h2>
                  The morphology evolution approach is best suited for tasks that require very little to no cooperation between the robots
                  in order to complete the task. Compared to the cooevolution approach, the morphology evoltuion implementation does not
                  perform better, thus supporting our hypothesis, thaat the cooevolution implementation is best for robot controller and
                  body design.
                  <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <figure class="center-col">
                        <img src="../resources/images/bulbul-20151018T2008-221.jpg" alt="simulation" width="500px" height"500px">
                        <figcaption style="margin-left: auto; margin-right: auto; width: 500px">
                          <p>
                            The best morphology for the small conguration. A total number
                            of 6 sensors was used: three infrared sensors(red); and three ultrasonic sensors
                            (green). The team tness for genome is 60 (maximum team tness is 120).
                          </p>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <figure class="center-col">
                        <img src="../resources/images/hake-20151029T2206-249.jpg" alt="simulation" width="500px" height"500px">
                        <figcaption style="margin-left: auto; margin-right: auto; width: 500px">
                          <p>
                            The best morphology for the medium conguration. A total number
                            of 12 sensors was used: seven infrared sensors(red); three ultrasonic sensors
                            (green); and two long range infrared sensors (blue). The team tness for genome
                            is 40 (maximum team tness is 120).
                          </p>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <figure class="center-col">
                        <img src="../resources/images/anchovy-20151024T0321-237.jpg" alt="simulation" width="500px" height"500px">
                        <figcaption style="margin-left: auto; margin-right: auto; width: 500px">
                          <p>
                            The best morphology for the medium conguration. A total number
                            of 12 sensors was used: four infrared sensors(red); one ultrasonic sensors (green);
                            and one long range infrared sensors (blue). The team tness for genome is 17.5
                            (maximum team tness is 120).
                          </p>
                        </figcaption>
                      </figure>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
