<!DOCTYPE html>
<html lang="en">

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/simple-sidebar.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">
<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                    ASCIRT
                </a>
            </li>
            <li>
                <a href="../index.html">Overview</a>
            </li>
                <li>
                    <a href="Controller_evolution.html">Controller evolution</a>
                </li>
                <li>
                    <a href="Morphology_evolution.html">Morphology evolution</a>
                </li>
                <li>
                    <a href="Co-evolution.html">Co-evolution</a>
                </li>
		<li>
                    <a href="Downloads.html">Downloads</a>
                </li>
		<li>
                    <a href="contacts.html">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container-fluid">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                <h1>Evolving The Morphology</h1>
                <br>
                <br>
                  <p>
                    The morpholgy of a robot describes the physical characteristics of
                    the robot's body, such as the size and shape of the body, the number
                    and placing of components that aid in the robot's locomotion. In this
                    apprach, the Evolutionary Robotics principles are used the aid in evolving
                    the robot's morphology, keeping the robot's predefined controller static.
                    <br>
                    <br>
                    There has been an increase in work aimed at using robot
                    teams to complete a range of non-trivial collective behaviour
                    tasks. The task we pay particular attention to is a search and
                    retrieval (foraging) task. The task is constructed such that
                    the team of robots have to make use of work cooperatively
                    to efficiently complete the task. In the real world, such a
                    task would involve a significant amount of noise and incomplete
                    information which would require the team of robots to
                    adapt to the environment through a suitable learning process.
                    We would thus expect our team of robots to exhibit
                    some form of Artificial Intelligence. The concepts
                    of Evolutionary Computation are used to achieve this
                    goal, which builds the foundations of Evolutionary Robotics.
                    <br>
                    <figure class="center-col">
                      <img src="../resources/images/7_simu.jpg" alt="simulation" width="500px" height"500px">
                      <figcaption style="margin-left: auto; margin-right: auto;">The simulation environment: the yellow blocks
                        are the resource objects (to be collected by the agents) and
                        the black circles are the agents, with the different sensors
                        forming the conical shapes - indicating their range and field
                        of view.
                      </figcaption>
                    </figure>
                    <br>
                    The Co-Evolution takes the evolutionary approach a step further. It uses evolutionary computation to adapt the morphology AND the controller of a robot agent. The Morphology is made up of a set of sensors and each sensor has the following parameters:
                    <ul>
                      <li>Bearing : The positioning of the sensor on the robot agent.</li>
                      <li>Field of View : The value of the angle between the 2 edges.</li>
                      <li>Orientation : The anglular offset between the perpendicular line drawn from the centre of the circle and the centre of a sensors vision</li>
                      <li>Range : The distance a robot sensor can sense an object.</li>
                    </ul>
                    <br>Therefore, in addition to adapting the controller of a robot agent - the morphology (the set of sensors and its paramters) were also evolved to find an optimal robot agent to complete the task.
                  </p>
                  <h2>Methods and Implementation</h2>
                  <p>
                      The Controller of the robot agent was implemeneted using an Artificial Neural Network (ANN). The typical structure of an ANN has a set of input nodes, a hidden layer of nodes and an output layer of nodes. Given the configuration of the Khepera robot agent - the inputs into the ANN are the sensory readings and the 2 output nodes are the drivers of the two motors to drive the two wheels of the Khepera Robot.
                      <br>
                      <br>
                      NEAT (Neuro Evolution for Augmenting topologies) is a great method to train an Artificial Neural Network. NEAT adapts the weights AND the topology of an Artificial Neural Network. This is an amazing approach because it allows one to change the stucture of an Artificial Neural Network. Becuase the morphology of the robot agents is evolving, the input nodes will change and hence NEAT is the preferred Evolutionary Computing method
                      <br>
                      <br>
                      Due to the convenience of using NEAT as the Evolutionary Computing approach for adapting the morphology and controller of a robot agent, a new method called NEAT-M (Hewland; 2014) was created to use Neuro Evolution to adapt the controller and morpohlogy of a robot agent. Hence, both the controller configuration and the morphology configuration was represented by an Artificial Neural Network (ANN).
                  </p>

                  <h2>Experiments</h2>
                  <p>To test the effectiveness of the Co-Evolution approach, a simulator platform was developed to spawn 20 robot agents and a number of resources for the robots to collect and return to a home base. A key desire for the adaptation of robot agents was to adapt them in a manner that would encourage cooperative behaviour.
                      <br>
                      <br>
                      There were three resources defined in the simulated platform.
                      <ul>
                          <li>Small sized boxes requiring 1 robot to push the box</li>
                          <li>Medium sized boxes requiring 2 robot to push the box</li>
                          <li>Large sized boxes requiring 3 robot to push the box</li>
                      </ul>
                      The different boxes require different levels of cooperation between robot agents.
                  </p>
                  <h3>The Experiment Setup</h3>
                  <p>
                      The following experiment configurations were setup
                      <ul>
                          <li>Minimal Configuration : 10 Small, 5 Medium and 0 Large Boxes</li>
                          <li>Minimal Configuration : 5 Small, 5 Medium and 5 Large Boxes</li>
                          <li>Minimal Configuration : 0 Small, 5 Medium and 10 Large Boxes</li>
                      </ul>
                      The same experiment configurations were setup for the Morphology Evolution approach and the results were compared.
                      <br>
                      <br>
                       <b>The Crux of the research is to conduct a comparison between the Morpholgy Evolution and Co-Evolution Approach and provide evidence that the Co-Evolution approach is a superior method than the morphology evolution approach for a cooperative foraging task.</b>
                  </p>

                  <h2>Results</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
